@using DynamoXMLConverter.Models.Home;
@model ErrorViewModel;
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>
        <strong>Error message:</strong> <code>@Model.ErrorMessage</code>
    </p>
}

@if (Model.StatusCode > 0)
{
    <p>
        <strong>Status code:</strong> <code>@Model.StatusCode</code>
    </p>
}
