@using DynamoXMLConverter.Models.Preview;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@model JsonPreviewModel;
@{
    ViewData["Title"] = "Preview";
}

<div class="preview-main-section">
    <div class="header-text">
        <span>Preview JSON file here</span>
    </div>

    <div class="article">
        <div class="article-header">
            <div class="home-button-holder">
                <a formmethod="get" asp-controller="Home" asp-action="Index">Home page</a>
            </div>
            <div class="article-info-card">
                <div class="info-holder">
                    <i class="bi bi-info-circle"></i>
                    <div class="info-text"><span>Information</span></div>
                </div>
                <span>
                    Note that every stored <strong>JSON</strong> file have expiration date and if the expiration date is expired, the file will be removed
                    and you will not have ability to download id.
                </span>
            </div>
        </div>

        <div class="article-body">
            <form method="post">
                <span>Preview file</span>
                <div class="inputs">
                    <input placeholder="Enter identifier here" type="text" name="identifier" required />
                    <input type="submit" value="Preview" />
                </div>
            </form>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage)) 
            {
                <div class="input-error">
                    <span>@Model.ErrorMessage</span>
                </div>
            }
        </div>

        <div class="article-preview-json">
            @if (string.IsNullOrEmpty(Model.JsonText))
            {
                <span>JSON response here...</span>
            }
            else
            {
                <pre>@Html.Raw(JValue.Parse(Model.JsonText).ToString(Formatting.Indented))</pre>
            }
        </div>
    </div>
</div>